<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RennWrites</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Sherika Black.otf</string>
		<string>Sherika BlackItalic.otf</string>
		<string>Sherika Bold.otf</string>
		<string>Sherika BoldItalic.otf</string>
		<string>Sherika ExtraBold.otf</string>
		<string>Sherika ExtraBoldItalic.otf</string>
		<string>Sherika Italic.otf</string>
		<string>Sherika Light.otf</string>
		<string>Sherika LightItalic.otf</string>
		<string>Sherika Medium.otf</string>
		<string>Sherika MediumItalic.otf</string>
		<string>Sherika Regular.otf</string>
		<string>Sherika Thin.otf</string>
		<string>Sherika ThinItalic.otf</string>
		<string>Sherika Black.ttf</string>
		<string>Sherika BlackItalic.ttf</string>
		<string>Sherika Bold.ttf</string>
		<string>Sherika BoldItalic.ttf</string>
		<string>Sherika ExtraBold.ttf</string>
		<string>Sherika ExtraBoldItalic.ttf</string>
		<string>Sherika Italic Variable.ttf</string>
		<string>Sherika Italic.ttf</string>
		<string>Sherika Light.ttf</string>
		<string>Sherika LightItalic.ttf</string>
		<string>Sherika Medium.ttf</string>
		<string>Sherika MediumItalic.ttf</string>
		<string>Sherika Regular.ttf</string>
		<string>Sherika Thin.ttf</string>
		<string>Sherika ThinItalic.ttf</string>
		<string>Sherika Variable.ttf</string>
	</array>
</dict>
</plist>
